:root{
    --fontColor: rgb(10, 60, 117);
}
body{
   
    font-family: 'Righteous', cursive;
    margin: 0 auto;
    width: 95%;
    
}
/* header */
header{
    display: flex;
    flex-wrap: wrap;
    height: 215px;
    justify-content: space-between;
}
.my-pic{
    padding-top: 10px;
    width: 400px;
}
.my-pic img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 200px;
}
.my-pro h1 {
    padding-top: 75px;
    font-weight: bold;
    font-size: 36px;
    color: var(--fontColor);
    text-shadow:5px 5px 10px #9dd0f1;
    letter-spacing: 10px;
}
.nav  {
    padding-top: 75px;
}
.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav ul li a {
    color: var(--fontColor);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.my-pic img:hover{
    transform: rotate(20deg);
}
header .nav ul li a:hover {
    background: var(--fontColor);
    color: whitesmoke;
    border-radius: 15px;
    text-shadow: none;
}

/* about me */
#about-me{
    display: flex;
    margin-top: 30px;
    height: 400px;
}
.about-me h2{
    color: var(--fontColor);
    padding-top: 175px;
    width: 500px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.p{
    padding-top: 100px;
    color: var(--fontColor);
    font-size: 35px;
    text-align: justify;
}
/* my work */
#my-work{
    display: flex;
    height: 500px;
}

.my-work h2{
    color: var(--fontColor);
    padding-top: 185px;
    width: 500px; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.images{
    display: flex;
    padding-top: 83px;
    gap: 25px;
}
.images img{
    border-radius: 15px;
    width: 500px;
    height: 325px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1{
    font-size: 30px;
    padding-top: 112px;
    
}
/* contact me */
#contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 250px;
    
}
.contact-me h2{
    padding-top: 137px;
    width: 500px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--fontColor);
}
#contact-me nav {
    padding-top: 137px;
    
}
#contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
#contact-me nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--fontColor);
    text-decoration: none;
    
}
#contact-me nav ul li:hover{
    transform:translateY(-10px);
    
    transition: transform 0.5s;
   
}

h2{
    font-size: 35px;
    
}
h3{
    font-size: 20px;
    
}


footer{
    display: flex;
    justify-content: center;
}
footer div{
    padding-top: 25px;
    padding-bottom: 50px;
}

@media screen and (max-width: 980px) {
    header{
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .my-pic{
        padding-top: 0px auto;
        width: 100%;
        justify-content: center;
    }
    .my-pic img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        justify-content: center;
    }
    .my-pro h1 {
        font-size: 25px;
        padding-top: 0px;
        width: 100%;
        text-align: center;
        letter-spacing: 0px;
    }
    .nav  {
        padding-top: 0px;
    }
    .nav ul {
        width: 100%;
        justify-content: center; 
    }
    .nav ul li a {
        color: var(--fontColor);
        font-weight: lighter;
        font-size: 10px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }
    
    #about-me{
        flex-direction: column;
        height: auto;
        
    }
    .about-me h2{
        padding-top: 0px;
        color: var(--fontColor);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .p{
        padding: 0px;
        color: var(--fontColor);
        font-size: 15px;
        text-align: justify;
    }
    #my-work{
        flex-direction: column;
        height: auto;
        
    }
    
    .my-work h2{
        color: var(--fontColor);
        padding-top: 0px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .images{
        flex-direction: column;
        padding-top: 0px;
        gap: 10px;
        
        
        
    }
    .images img{
        border-radius: 15px;
        width: 250px;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }
    
    .box1{
        font-size: 15px;
        padding-top: 0px;
        
        
    }#contact-me{
        flex-direction: column;
        height: auto;
        
    }
    .contact-me h2{
        padding-top: 0px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: var(--fontColor);
    }
    #contact-me nav {
        padding-top: 0px;
        
    }
    #contact-me nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    #contact-me nav ul li a {
        
        font-weight: lighter;
        font-size: 10px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: var(--fontColor);
        text-decoration: none;
        
    }
    h2{
        font-size: 15px;
        
    }
    h3{
        font-size: 10px;
        
    }

    
}