:root{
    --fontColor: rgba(7, 94, 194, 0.863);
}
body{
   background-color: white;
    font-family: 'Righteous', cursive;
    margin: 0 auto;
    width: 95%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--fontColor);
}

/* header */
header{
    display: flex;
    flex-wrap: wrap;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   
}
.my-pro{
    justify-content: center;
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.my-pic img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 200px;
    background: whitesmoke;
    padding:  15px;
    border-radius: 15px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding:  15px ;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav ul li a { 
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.my-pic img:hover{
    transform: rotate(20deg);
}
header  ul li a:hover {
    
    border-radius: 15px;
    text-shadow: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hero{
    height: 250px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.heroh2{
    font-size: 4vw;
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    text-align: center;
    padding-top: 68px;
    box-shadow:none;
}
/* about me */
#about-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    margin-top: 20px;
}
.p{
   
    font-size: 1.8vw;
    text-align: justify;
    flex: 5;
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* my work */
#my-work{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    height: 400px;
    
}
.images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 5;
    justify-content: space-evenly;
    background: whitesmoke;
    padding:  15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.images img{
    border-radius: 15px;
    width: 280px;
    height: 280px;
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 5px rgba(0,0,0,0.4);
    transition: all .4s;
    transform-style: preserve-3d;
}
.images:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* contact me */
#contact-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 220px;
    margin-top: 20px;
}
#contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 5;
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-me nav ul li a {
    padding: 0px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--fontColor);
    text-decoration: none;
}
#contact-me nav ul li:hover{
    transform:translateY(-10px);
    transition: transform 0.5s;
}
nav ul li img{
    border-radius: 50%;     
}
footer{
    margin-top: 20px;
    background: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
    animation: text-shadow 2.5s ease-in-out infinite;
    font-size: 4em;
    font-weight: 900;
    line-height: 1;
}
h1:hover {
    animation-play-state: paused;
}

h2{
    flex: 1;
    background: whitesmoke;
    padding: 15px ;
    border-radius: 15px 0px 0px 15px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h3{
    font-size: 20px;
    text-align: center;
    
}
p{
    font-size: 1.8vw;
    
}
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (max-width: 1600px)   {
    
    header{
        flex-direction: column;
        height: auto;
        justify-content: normal;
        gap: 24px;
    }
    .my-pro{
        justify-content: center;
    }
    .my-pic img{  
        width: 150px;
    }
    .nav ul {
        flex-direction: column;
        padding: 10px 43px;
        gap: 10px;
    }
    
    .hero{
        justify-content: center;
        flex-direction: column;
        background-position: right;
        background-size: 250px;
        height: 75px;
    }
    .heroh2{
        padding-top: 13px;
    }
    #about-me{
        flex-direction: column;
        gap: 15px;
        height: auto;
    }
    .p{
        font-size: 1.6em;
    }
    h1 {
        font-size: 1.8em;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        flex: 0;
        border-radius: 15px;
    }
    h3{
        font-size: 0.80em;
        text-align: center;
    }
    p{
        font-size: 4.5vw;
    }
    
    #my-work{
        flex-direction: column;
        gap: 15px;
        height: auto;
    }
    .images
    {
      flex-direction: column;
      flex: 0;
      gap: 10px;
    }
    .images img{
        width: 150px;
        height: 150px;
        transform: none;
        box-shadow: 2px 14px 15px 5px rgba(0,0,0,0.4);
    }
    #contact-me{
        flex-direction: column;
        gap: 28px;
        height:auto;
    }
    #contact-me nav ul li a img{
        height: 32px;
    }
    
}
  
 